.fa-user-circle {
	font-size: 2rem; /* Ajustez la taille */
	color: #9eadba;
	background-color: #dfe6ed; 
	border-radius: 50%;
}

.fa-sign-out {
	font-size: 2rem; /* Ajustez la taille */
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

.bg-dark {
	background-color: #dfe6ed;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
}

.main-nav a {
	font-weight: bold;
	color: #2c3e50;
}

.main-nav a.router-link-exact-active {
	color: #42b983;
}

.main-nav-item {
	display: flex;
	align-items: center;
	gap: .5rem;
	text-decoration: none;
	margin-right: 0.5rem;
}

.main-nav-item:hover {
	text-decoration: underline;
}

.main-nav-logo {
	display: flex;
	align-items: center;
}

.main-nav-logo-image {
	max-width: 100%;
	width: 200px;
}

.nav-link {
	display: flex;
	gap: 0.5rem;
}

.nav-user-profile {
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
	color: #2c3e50;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
}
.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #bec9d2;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;
	color: #283845;
}

.account-amount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: 800;
}

.account-amount-description {
	margin: 0;
}

.account-title {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
}

.account-content-wrapper {
	width: 100%;
	flex: 1;
}

.hidden {
	opacity: 0;
	max-height: 0;
	margin: 0;
}


.header {
	text-align: center;
	
	h1 {
		color: #2d3c49;
		text-align: center;
		font-size: 16px;
		padding-top:  1rem ;
		font-weight: 700;
	}
	
	button {
		width: 7rem;
		color: #6458f5;
		border: #6458f5 1px solid;
		font-weight: 600;
		background: whitesmoke;
		margin: 1rem;
		max-height: 500px;
		border-radius: .4rem;
	}

	.edit {
		opacity: 0;
		max-height: 0;
		transition: all .3s ease;
		overflow: hidden;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		
		input,button {
			width: 10rem;
			border-radius: .4rem;
			border:  solid 1px #bec9d2;
			padding: .5rem;
			margin: .2rem;
		}

		button {
			width: 7rem;
			color: #6458f5;
			border: #6458f5 1px solid;
			font-weight: 600;
			background: whitesmoke;
		}

		&.hidden {
			opacity: 0;
			max-height: 0;
			margin: 0;
		}

		&.noHidden {
			opacity: 1;
			max-height: 500px;
			margin-bottom: 2rem;
		}
	}
}

.transaction-button {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-radius: .5rem;
	background-color: #6458f5;
	color: #fff;
}

@media (min-width: 720px) {
	.account {
		flex-direction: row;
	}

	.account-content-wrapper.cta {
		flex: 0;
	}

	.transaction-button {
		width: 200px;
	}
}
