.layoutContainer {
	min-height: calc(100dvh - 50px);
	display: flex;
	background-color: #dfe6ed;

	&-content {
		flex: 1; // Remplie tout l'espace disponible dans le layout
		padding-bottom: 150px; //garantie que les layout et le footer ne se chevauche pas du au calc du layout
	}
}